node-red/flows.json
[
  {
    "id": "sentient_stream_fresh",
    "type": "tab",
    "label": "Sentient Stream",
    "disabled": false,
    "info": "Fresh build generated from plansentientstream.md",
    "env": []
  },
  {
    "id": "http_spotify_login",
    "type": "http in",
    "z": "sentient_stream_fresh",
    "name": "GET /spotify/login",
    "url": "/spotify/login",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 150,
    "y": 80,
    "wires": [["fn_build_spotify_auth"]]
  },
  {
    "id": "fn_build_spotify_auth",
    "type": "function",
    "z": "sentient_stream_fresh",
    "name": "Build Spotify auth URL",
    "func": "const clientId = env.get(\"SPOTIFY_CLIENT_ID\") || \"e249cffb68c848fcace0e60a7b4a7aa3\";\nconst redirectUri = env.get(\"SPOTIFY_REDIRECT_URI\") || \"https://poikilitic-suzi-capably.ngrok-free.dev/spotify/callback\";\nconst state = Math.random().toString(36).slice(2) + Date.now().toString(36);\nglobal.set(\"spotify_oauth_state\", state);\n\nconst scope = [\n  \"streaming\",\n  \"user-read-email\",\n  \"user-read-private\",\n  \"user-read-playback-state\",\n  \"user-read-currently-playing\",\n  \"user-modify-playback-state\"\n].join(\" \");\n\nconst params = new URLSearchParams({\n  response_type: \"code\",\n  client_id: clientId,\n  scope,\n  redirect_uri: redirectUri,\n  state,\n  show_dialog: \"true\"\n});\n\nmsg.statusCode = 302;\nmsg.headers = { Location: \"https://accounts.spotify.com/authorize?\" + params.toString() };\nmsg.payload = \"\";\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 80,
    "wires": [["res_spotify_login"]]
  },
  {
    "id": "res_spotify_login",
    "type": "http response",
    "z": "sentient_stream_fresh",
    "name": "Redirect to Spotify",
    "statusCode": "",
    "headers": {},
    "x": 650,
    "y": 80,
    "wires": []
  },
  {
    "id": "http_spotify_callback",
    "type": "http in",
    "z": "sentient_stream_fresh",
    "name": "GET /spotify/callback",
    "url": "/spotify/callback",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 150,
    "y": 150,
    "wires": [["fn_prepare_token_exchange"]]
  },
  {
    "id": "fn_prepare_token_exchange",
    "type": "function",
    "z": "sentient_stream_fresh",
    "name": "Prepare token exchange",
    "func": "const query = (msg.req && msg.req.query) || {};\nconst expectedState = global.get(\"spotify_oauth_state\");\n\nif (query.error) {\n  msg.statusCode = 400;\n  msg.payload = { error: query.error };\n  return [null, msg];\n}\n\nif (!query.code || !query.state || query.state !== expectedState) {\n  msg.statusCode = 400;\n  msg.payload = { error: \"Invalid Spotify OAuth callback state.\" };\n  return [null, msg];\n}\n\nconst clientId = env.get(\"SPOTIFY_CLIENT_ID\") || \"e249cffb68c848fcace0e60a7b4a7aa3\";\nconst clientSecret = env.get(\"SPOTIFY_CLIENT_SECRET\") || \"55b37c551a1844d5b089ef9ebca143c9\";\nconst redirectUri = env.get(\"SPOTIFY_REDIRECT_URI\") || \"https://poikilitic-suzi-capably.ngrok-free.dev/spotify/callback\";\n\nmsg.method = \"POST\";\nmsg.url = \"https://accounts.spotify.com/api/token\";\nmsg.headers = {\n  \"Content-Type\": \"application/x-www-form-urlencoded\",\n  Authorization: \"Basic \" + Buffer.from(clientId + \":\" + clientSecret).toString(\"base64\")\n};\nmsg.payload = new URLSearchParams({\n  grant_type: \"authorization_code\",\n  code: query.code,\n  redirect_uri: redirectUri\n}).toString();\n\nreturn [msg, null];",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 150,
    "wires": [["req_spotify_token"], ["res_spotify_callback_error"]]
  },
  {
    "id": "req_spotify_token",
    "type": "http request",
    "z": "sentient_stream_fresh",
    "name": "POST Spotify token",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 650,
    "y": 130,
    "wires": [["fn_store_spotify_tokens"]]
  },
  {
    "id": "fn_store_spotify_tokens",
    "type": "function",
    "z": "sentient_stream_fresh",
    "name": "Store Spotify tokens",
    "func": "const body = msg.payload || {};\n\nif (msg.statusCode >= 400 || !body.access_token) {\n  msg.statusCode = 500;\n  msg.payload = { error: \"Spotify token exchange failed.\", details: body };\n  return msg;\n}\n\nglobal.set(\"spotify_access_token\", body.access_token);\nif (body.refresh_token) {\n  global.set(\"spotify_refresh_token\", body.refresh_token);\n}\nglobal.set(\"spotify_expires_at\", Date.now() + Number(body.expires_in || 3600) * 1000);\n\nmsg.statusCode = 302;\nmsg.headers = { Location: env.get(\"SPOTIFY_RETURN_URL\") || \"/sentient-stream/\" };\nmsg.payload = \"\";\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 890,
    "y": 130,
    "wires": [["res_spotify_callback"]]
  },
  {
    "id": "res_spotify_callback",
    "type": "http response",
    "z": "sentient_stream_fresh",
    "name": "OAuth response",
    "statusCode": "",
    "headers": {},
    "x": 1130,
    "y": 130,
    "wires": []
  },
  {
    "id": "res_spotify_callback_error",
    "type": "http response",
    "z": "sentient_stream_fresh",
    "name": "OAuth error",
    "statusCode": "",
    "headers": {},
    "x": 650,
    "y": 180,
    "wires": []
  },
  {
    "id": "inject_refresh_token",
    "type": "inject",
    "z": "sentient_stream_fresh",
    "name": "Refresh Spotify token every 50 min",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "300",
    "crontab": "",
    "once": true,
    "onceDelay": 5,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 170,
    "y": 240,
    "wires": [["fn_prepare_refresh"]]
  },
  {
    "id": "fn_prepare_refresh",
    "type": "function",
    "z": "sentient_stream_fresh",
    "name": "Prepare refresh",
    "func": "const refreshToken = global.get(\"spotify_refresh_token\");\nconst expiresAt = Number(global.get(\"spotify_expires_at\") || 0);\n\nif (!refreshToken || Date.now() < expiresAt - 5 * 60 * 1000) {\n  return null;\n}\n\nconst clientId = env.get(\"SPOTIFY_CLIENT_ID\") || \"e249cffb68c848fcace0e60a7b4a7aa3\";\nconst clientSecret = env.get(\"SPOTIFY_CLIENT_SECRET\") || \"55b37c551a1844d5b089ef9ebca143c9\";\n\nmsg.method = \"POST\";\nmsg.url = \"https://accounts.spotify.com/api/token\";\nmsg.headers = {\n  \"Content-Type\": \"application/x-www-form-urlencoded\",\n  Authorization: \"Basic \" + Buffer.from(clientId + \":\" + clientSecret).toString(\"base64\")\n};\nmsg.payload = new URLSearchParams({\n  grant_type: \"refresh_token\",\n  refresh_token: refreshToken\n}).toString();\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 440,
    "y": 240,
    "wires": [["req_spotify_refresh"]]
  },
  {
    "id": "req_spotify_refresh",
    "type": "http request",
    "z": "sentient_stream_fresh",
    "name": "POST Spotify refresh",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 680,
    "y": 240,
    "wires": [["fn_store_refreshed_token"]]
  },
  {
    "id": "fn_store_refreshed_token",
    "type": "function",
    "z": "sentient_stream_fresh",
    "name": "Store refreshed token",
    "func": "const body = msg.payload || {};\nif (msg.statusCode >= 400 || !body.access_token) {\n  node.warn(\"Spotify refresh failed: \" + JSON.stringify(body));\n  return null;\n}\n\nglobal.set(\"spotify_access_token\", body.access_token);\nif (body.refresh_token) {\n  global.set(\"spotify_refresh_token\", body.refresh_token);\n}\nglobal.set(\"spotify_expires_at\", Date.now() + Number(body.expires_in || 3600) * 1000);\nreturn null;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 930,
    "y": 240,
    "wires": [[]]
  },
  {
    "id": "http_spotify_token",
    "type": "http in",
    "z": "sentient_stream_fresh",
    "name": "GET /spotify/token",
    "url": "/spotify/token",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 150,
    "y": 310,
    "wires": [["fn_return_browser_token"]]
  },
  {
    "id": "fn_return_browser_token",
    "type": "function",
    "z": "sentient_stream_fresh",
    "name": "Return browser token",
    "func": "const accessToken = global.get(\"spotify_access_token\");\nif (!accessToken) {\n  msg.statusCode = 200;\n  msg.headers = { \"Cache-Control\": \"no-store\", \"Content-Type\": \"application/json\" };\n  msg.payload = {\n    access_token: null,\n    connected: false,\n    error: \"Spotify is not connected. Visit /spotify/login first.\"\n  };\n  return msg;\n}\n\nmsg.statusCode = 200;\nmsg.headers = { \"Cache-Control\": \"no-store\", \"Content-Type\": \"application/json\" };\nmsg.payload = {\n  access_token: accessToken,\n  connected: true,\n  expires_at: global.get(\"spotify_expires_at\") || null\n};\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 310,
    "wires": [["res_spotify_token"]]
  },
  {
    "id": "res_spotify_token",
    "type": "http response",
    "z": "sentient_stream_fresh",
    "name": "Token response",
    "statusCode": "",
    "headers": {},
    "x": 650,
    "y": 310,
    "wires": []
  },
  {
    "id": "http_lm_ping",
    "type": "http in",
    "z": "sentient_stream_fresh",
    "name": "GET /lm/ping",
    "url": "/lm/ping",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 150,
    "y": 370,
    "wires": [["fn_lm_ping"]]
  },
  {
    "id": "fn_lm_ping",
    "type": "function",
    "z": "sentient_stream_fresh",
    "name": "Probe LM Studio /v1/models",
    "func": "let baseUrl = String(env.get(\"LM_STUDIO_BASE_URL\") || \"http://host.docker.internal:1234\");\nif (baseUrl.endsWith(\"/\")) baseUrl = baseUrl.slice(0, -1);\nmsg.method = \"GET\";\nmsg.url = baseUrl + \"/v1/models\";\nmsg.headers = { \"Content-Type\": \"application/json\" };\nmsg.payload = null;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 370,
    "wires": [["req_lm_ping"]]
  },
  {
    "id": "req_lm_ping",
    "type": "http request",
    "z": "sentient_stream_fresh",
    "name": "lm ping",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 650,
    "y": 370,
    "wires": [["fn_lm_ping_result"]]
  },
  {
    "id": "fn_lm_ping_result",
    "type": "function",
    "z": "sentient_stream_fresh",
    "name": "Return LM ping",
    "func": "const ok = msg.statusCode < 400;\nmsg.statusCode = ok ? 200 : 502;\nmsg.headers = { \"Content-Type\": \"application/json\" };\nmsg.payload = ok ? { ok: true } : { ok: false, error: \"LM Studio ping failed.\" };\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 900,
    "y": 370,
    "wires": [["res_lm_ping"]]
  },
  {
    "id": "res_lm_ping",
    "type": "http response",
    "z": "sentient_stream_fresh",
    "name": "Ping response",
    "statusCode": "",
    "headers": {},
    "x": 1150,
    "y": 370,
    "wires": []
  },
  {
    "id": "http_lm_vision",
    "type": "http in",
    "z": "sentient_stream_fresh",
    "name": "POST /lm/vision",
    "url": "/lm/vision",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 150,
    "y": 440,
    "wires": [["fn_lm_vision"]]
  },
  {
    "id": "fn_lm_vision",
    "type": "function",
    "z": "sentient_stream_fresh",
    "name": "Analyze mood and suggest song",
    "func": "let body = msg.payload || {};\nif (typeof body === \"string\") {\n  try {\n    body = JSON.parse(body);\n  } catch (error) {\n    body = {};\n  }\n}\n\nconst imageBase64 = body.image || \"\";\nif (!imageBase64) {\n  msg.statusCode = 400;\n  msg.payload = { error: \"Missing image field\" };\n  msg.headers = { \"Content-Type\": \"application/json\" };\n  return [null, msg];\n}\n\nlet baseUrl = String(env.get(\"LM_STUDIO_BASE_URL\") || \"http://host.docker.internal:1234\");\nif (baseUrl.endsWith(\"/\")) baseUrl = baseUrl.slice(0, -1);\n\nmsg.method = \"POST\";\nmsg.url = baseUrl + \"/v1/chat/completions\";\nmsg.headers = { \"Content-Type\": \"application/json\" };\nmsg.payload = {\n  model: \"local-model\",\n  max_tokens: 260,\n  temperature: 0.2,\n  messages: [\n    {\n      role: \"system\",\n      content: \"You are a facial expression analyser and music recommender. Respond only with plain text. Do not use JSON, markdown, code fences, or bullet points.\"\n    },\n    {\n      role: \"user\",\n      content: [\n        { type: \"image_url\", image_url: { url: \"data:image/jpeg;base64,\" + imageBase64 } },\n        {\n          type: \"text\",\n          text: [\n            \"Look at this webcam frame and identify the dominant facial expression.\",\n            \"Also suggest exactly one real song that fits the mood.\",\n            \"Return plain text using these labels exactly:\",\n            \"face_detected: <true|false>\",\n            \"mood_analysis: <1-2 sentences describing the emotional state>\",\n            \"mood: <one of happy|sad|angry|surprised|fearful|disgusted|neutral>\",\n            \"confidence: <0.0-1.0>\",\n            \"title: <song title>\",\n            \"artist: <artist name>\",\n            \"reason: <one sentence why this song fits>\",\n            \"If no face is visible, return face_detected: false, mood_analysis: no face detected, mood: neutral, confidence: 0, title: none, artist: none, reason: no song.\"\n          ].join(\" \")\n        }\n      ]\n    }\n  ]\n};\nreturn [msg, null];",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 440,
    "wires": [["req_lm_vision"], ["res_lm_vision"]]
  },
  {
    "id": "req_lm_vision",
    "type": "http request",
    "z": "sentient_stream_fresh",
    "name": "lm vision",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 650,
    "y": 440,
    "wires": [["fn_lm_vision_result"]]
  },
  {
    "id": "fn_lm_vision_result",
    "type": "function",
    "z": "sentient_stream_fresh",
    "name": "Return LM analysis",
    "func": "if (msg.statusCode >= 400) {\n  msg.statusCode = 502;\n  msg.headers = { \"Content-Type\": \"application/json\" };\n  msg.payload = {\n    face_detected: false,\n    mood: { mood: \"neutral\", confidence: 0 },\n    source: \"lm-studio\",\n    mood_analysis: \"LM Studio returned \" + msg.statusCode,\n    suggestion: null,\n    track: null,\n    error: \"LM Studio returned \" + msg.statusCode,\n  };\n  return msg;\n}\n\nconst lmData = msg.payload || {};\nconst raw = String(lmData.choices && lmData.choices[0] && lmData.choices[0].message && lmData.choices[0].message.content || \"\").trim();\n\nfunction findMatch(text, regex, fallback = \"\") {\n  const match = String(text || \"\").match(regex);\n  return match ? String(match[1] || match[0]).trim() : fallback;\n}\n\nfunction parseConfidence(value) {\n  const parsed = Number(String(value || \"\").trim());\n  return Number.isFinite(parsed) ? Math.max(0, Math.min(1, parsed)) : 0;\n}\n\nfunction parseField(label, fallback = \"\") {\n  const pattern = new RegExp(\"(?:^|\\n|\\r)\\s*\" + label + \"\\s*:\\s*([^\\n\\r]+)\", \"i\");\n  const match = String(raw || \"\").match(pattern);\n  return match ? String(match[1] || match[0]).trim() : fallback;\n}\n\nconst faceDetectedRaw = parseField(\"face_detected\", \"false\");\nconst moodAnalysis = parseField(\"mood_analysis\", \"\");\nconst mood = parseField(\"(?:mood|emotion)\", \"neutral\").toLowerCase();\nconst confidence = parseConfidence(parseField(\"confidence\", \"0\"));\nconst title = parseField(\"(?:title|track|song)\", \"\");\nconst artist = parseField(\"artist\", \"\");\nconst reason = parseField(\"reason\", \"\");\nconst faceDetected = /^(true|yes|1)$/i.test(faceDetectedRaw);\nconst safeMood = faceDetected ? mood : \"neutral\";\nconst safeConfidence = faceDetected ? confidence : 0;\nconst track = faceDetected && title && artist\n  ? {\n      title,\n      artist,\n      mood: { mood: safeMood, confidence: safeConfidence },\n      reason,\n      uri: null,\n      album_art: null,\n    }\n  : null;\n\nconst result = {\n  face_detected: faceDetected,\n  mood: { mood: safeMood, confidence: safeConfidence },\n  source: \"lm-studio\",\n  mood_analysis: moodAnalysis || (faceDetected ? raw : \"No face detected\"),\n  suggestion: track,\n  track,\n};\n\nif (faceDetected && (!title || !artist)) {\n  result.warning = \"LM Studio returned no song suggestion.\";\n}\n\nmsg.statusCode = 200;\nmsg.headers = { \"Content-Type\": \"application/json\" };\nmsg.payload = result;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 900,
    "y": 440,
    "wires": [["res_lm_vision"]]
  },
  {
    "id": "res_lm_vision",
    "type": "http response",
    "z": "sentient_stream_fresh",
    "name": "Vision response",
    "statusCode": "",
    "headers": {},
    "x": 1150,
    "y": 440,
    "wires": []
  },
  {
    "id": "http_suggest_song",
    "type": "http in",
    "z": "sentient_stream_fresh",
    "name": "POST /suggest/song",
    "url": "/suggest/song",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 150,
    "y": 600,
    "wires": [["fn_prepare_spotify_search"]]
  },
  {
    "id": "fn_prepare_spotify_search",
    "type": "function",
    "z": "sentient_stream_fresh",
    "name": "Prepare Spotify search",
    "func": "let body = msg.payload || {};\nif (typeof body === \"string\") {\n  try {\n    body = JSON.parse(body);\n  } catch (error) {\n    body = {};\n  }\n}\n\nconst suggestion = body.suggestion || body;\nconst title = String(suggestion.title || \"\").trim();\nconst artist = String(suggestion.artist || \"\").trim();\nconst searchQuery = [title, artist].filter(Boolean).join(\" \").trim();\nconst accessToken = global.get(\"spotify_access_token\");\n\nif (!accessToken) {\n  msg.statusCode = 401;\n  msg.payload = { error: \"Spotify is not connected. Visit /spotify/login first.\" };\n  return [null, msg];\n}\n\nif (!searchQuery) {\n  msg.statusCode = 400;\n  msg.payload = { error: \"Expected JSON body with a song title or artist.\" };\n  return [null, msg];\n}\n\nmsg.suggestion = { title, artist, mood: body.mood || null };\nmsg.method = \"GET\";\nmsg.url = \"https://api.spotify.com/v1/search?type=track&limit=1&q=\" + encodeURIComponent(searchQuery);\nmsg.headers = { Authorization: \"Bearer \" + accessToken };\nmsg.payload = null;\nreturn [msg, null];",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 600,
    "wires": [["req_spotify_search"], ["res_suggest_song"]]
  },
  {
    "id": "req_spotify_search",
    "type": "http request",
    "z": "sentient_stream_fresh",
    "name": "GET Spotify search",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 650,
    "y": 600,
    "wires": [["fn_prepare_queue_request"]]
  },
  {
    "id": "fn_prepare_queue_request",
    "type": "function",
    "z": "sentient_stream_fresh",
    "name": "Prepare queue request",
    "func": "if (msg.statusCode >= 400) {\n  msg.payload = { error: \"Spotify search failed.\", details: msg.payload };\n  return [null, msg];\n}\n\nconst item = msg.payload && msg.payload.tracks && msg.payload.tracks.items && msg.payload.tracks.items[0];\n\nif (!item) {\n  msg.statusCode = 404;\n  msg.payload = { error: \"No Spotify track found.\", suggestion: msg.suggestion };\n  return [null, msg];\n}\n\nconst accessToken = global.get(\"spotify_access_token\");\nconst artistName = (item.artists || []).map((artist) => artist.name).join(\", \");\nmsg.track = {\n  id: item.id,\n  title: item.name,\n  artist: artistName,\n  uri: item.uri,\n  album: item.album && item.album.name,\n  album_art: item.album && item.album.images && item.album.images[0] && item.album.images[0].url,\n  preview_url: item.preview_url,\n  external_url: item.external_urls && item.external_urls.spotify,\n  mood: msg.suggestion && msg.suggestion.mood\n};\n\nmsg.method = \"POST\";\nmsg.url = \"https://api.spotify.com/v1/me/player/queue?uri=\" + encodeURIComponent(item.uri);\nmsg.headers = { Authorization: \"Bearer \" + accessToken };\nmsg.payload = null;\nreturn [msg, null];",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 900,
    "y": 600,
    "wires": [["req_spotify_queue"], ["res_suggest_song"]]
  },
  {
    "id": "req_spotify_queue",
    "type": "http request",
    "z": "sentient_stream_fresh",
    "name": "POST Spotify queue",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 1150,
    "y": 580,
    "wires": [["fn_return_queued_track"]]
  },
  {
    "id": "fn_return_queued_track",
    "type": "function",
    "z": "sentient_stream_fresh",
    "name": "Return queued track",
    "func": "const queued = msg.statusCode >= 200 && msg.statusCode < 300;\nconst payload = { queued, spotifyStatus: msg.statusCode, track: msg.track };\n\nif (!queued) {\n  payload.queue_error = msg.payload || null;\n}\n\nconst httpMsg = {\n  ...msg,\n  statusCode: queued ? 200 : 202,\n  headers: { \"Content-Type\": \"application/json\" },\n  payload\n};\n\nconst uiMsg = { topic: \"sentient-stream/queued\", payload };\nreturn [httpMsg, uiMsg];",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1390,
    "y": 580,
    "wires": [["res_suggest_song"], ["ss_uibuilder"]]
  },
  {
    "id": "res_suggest_song",
    "type": "http response",
    "z": "sentient_stream_fresh",
    "name": "Suggest response",
    "statusCode": "",
    "headers": {},
    "x": 1640,
    "y": 600,
    "wires": []
  },
  {
    "id": "http_player_state",
    "type": "http in",
    "z": "sentient_stream_fresh",
    "name": "GET /player/state",
    "url": "/player/state",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 150,
    "y": 720,
    "wires": [["fn_prepare_player_state"]]
  },
  {
    "id": "fn_prepare_player_state",
    "type": "function",
    "z": "sentient_stream_fresh",
    "name": "Prepare player state",
    "func": "const accessToken = global.get(\"spotify_access_token\");\nif (!accessToken) {\n  msg.statusCode = 200;\n  msg.headers = { \"Content-Type\": \"application/json\", \"Cache-Control\": \"no-store\" };\n  msg.payload = {\n    is_playing: false,\n    track_name: null,\n    artist: null,\n    album_art: null,\n    progress_ms: 0,\n    duration_ms: 0,\n    uri: null,\n    connected: false,\n    error: \"Spotify is not connected. Visit /spotify/login first.\"\n  };\n  return [null, msg];\n}\n\nmsg.method = \"GET\";\nmsg.url = \"https://api.spotify.com/v1/me/player\";\nmsg.headers = { Authorization: \"Bearer \" + accessToken };\nmsg.payload = null;\nreturn [msg, null];",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 720,
    "wires": [["req_spotify_player"], ["res_player_state"]]
  },
  {
    "id": "req_spotify_player",
    "type": "http request",
    "z": "sentient_stream_fresh",
    "name": "GET Spotify player",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 650,
    "y": 700,
    "wires": [["fn_normalize_player_state"]]
  },
  {
    "id": "fn_normalize_player_state",
    "type": "function",
    "z": "sentient_stream_fresh",
    "name": "Normalize player state",
    "func": "if (msg.statusCode === 204) {\n  msg.statusCode = 200;\n  msg.headers = { \"Content-Type\": \"application/json\", \"Cache-Control\": \"no-store\" };\n  msg.payload = { is_playing: false, track_name: null, artist: null, album_art: null, progress_ms: 0, duration_ms: 0, uri: null, connected: true };\n  return msg;\n}\n\nif (msg.statusCode >= 400) {\n  msg.statusCode = 200;\n  msg.headers = { \"Content-Type\": \"application/json\", \"Cache-Control\": \"no-store\" };\n  msg.payload = {\n    is_playing: false,\n    track_name: null,\n    artist: null,\n    album_art: null,\n    progress_ms: 0,\n    duration_ms: 0,\n    uri: null,\n    connected: false,\n    error: \"Spotify player state failed.\",\n    details: msg.payload\n  };\n  return msg;\n}\n\nconst body = msg.payload || {};\nconst item = body.item || {};\nmsg.statusCode = 200;\nmsg.headers = { \"Content-Type\": \"application/json\", \"Cache-Control\": \"no-store\" };\nmsg.payload = {\n  is_playing: Boolean(body.is_playing),\n  track_name: item.name || null,\n  artist: item.artists ? item.artists.map((artist) => artist.name).join(\", \") : null,\n  album_art: item.album && item.album.images && item.album.images[0] && item.album.images[0].url,\n  progress_ms: body.progress_ms || 0,\n  duration_ms: item.duration_ms || 0,\n  uri: item.uri || null,\n  connected: true\n};\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 900,
    "y": 700,
    "wires": [["res_player_state"]]
  },
  {
    "id": "res_player_state",
    "type": "http response",
    "z": "sentient_stream_fresh",
    "name": "Player response",
    "statusCode": "",
    "headers": {},
    "x": 1150,
    "y": 720,
    "wires": []
  },
  {
    "id": "ss_uibuilder",
    "type": "uibuilder",
    "z": "sentient_stream_fresh",
    "name": "Sentient Stream UI",
    "topic": "",
    "url": "sentient-stream",
    "fwdInMessages": false,
    "allowScripts": false,
    "allowStyles": false,
    "copyIndex": false,
    "templateFolder": "blank",
    "extTemplate": "",
    "showfolder": false,
    "reload": true,
    "sourceFolder": "src",
    "deployedVersion": "",
    "x": 1390,
    "y": 660,
    "wires": [[], []]
  },
  {
    "id": "http_spotify_transfer",
    "type": "http in",
    "z": "sentient_stream_fresh",
    "name": "PUT /spotify/transfer",
    "url": "/spotify/transfer",
    "method": "put",
    "upload": false,
    "swaggerDoc": "",
    "x": 150,
    "y": 800,
    "wires": [["fn_prepare_transfer"]]
  },
  {
    "id": "fn_prepare_transfer",
    "type": "function",
    "z": "sentient_stream_fresh",
    "name": "Prepare transfer request",
    "func": "const accessToken = global.get(\"spotify_access_token\");\nif (!accessToken) {\n  msg.statusCode = 401;\n  msg.headers = { \"Content-Type\": \"application/json\" };\n  msg.payload = { error: \"Spotify is not connected. Visit /spotify/login first.\" };\n  return [null, msg];\n}\n\nlet body = msg.payload || {};\nif (typeof body === \"string\") {\n  try { body = JSON.parse(body); } catch (_) { body = {}; }\n}\n\nmsg.method = \"PUT\";\nmsg.url = \"https://api.spotify.com/v1/me/player\";\nmsg.headers = { \"Authorization\": \"Bearer \" + accessToken, \"Content-Type\": \"application/json\" };\nmsg.payload = body;\nreturn [msg, null];",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 800,
    "wires": [["req_spotify_transfer"], ["res_spotify_transfer"]]
  },
  {
    "id": "req_spotify_transfer",
    "type": "http request",
    "z": "sentient_stream_fresh",
    "name": "PUT Spotify transfer",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 660,
    "y": 800,
    "wires": [["fn_return_transfer"]]
  },
  {
    "id": "fn_return_transfer",
    "type": "function",
    "z": "sentient_stream_fresh",
    "name": "Return transfer result",
    "func": "const ok = msg.statusCode === 204 || (msg.statusCode >= 200 && msg.statusCode < 300);\nmsg.statusCode = ok ? 204 : msg.statusCode;\nmsg.headers = { \"Content-Type\": \"application/json\" };\nif (!ok) {\n  msg.payload = { error: \"Playback transfer failed.\", details: msg.payload };\n} else {\n  msg.payload = \"\";\n}\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 900,
    "y": 800,
    "wires": [["res_spotify_transfer"]]
  },
  {
    "id": "res_spotify_transfer",
    "type": "http response",
    "z": "sentient_stream_fresh",
    "name": "Transfer response",
    "statusCode": "",
    "headers": {},
    "x": 1140,
    "y": 800,
    "wires": []
  },
  {
    "id": "http_spotify_play",
    "type": "http in",
    "z": "sentient_stream_fresh",
    "name": "POST /spotify/play",
    "url": "/spotify/play",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 150,
    "y": 880,
    "wires": [["fn_prepare_play"]]
  },
  {
    "id": "fn_prepare_play",
    "type": "function",
    "z": "sentient_stream_fresh",
    "name": "Prepare play request",
    "func": "const accessToken = global.get(\"spotify_access_token\");\nif (!accessToken) {\n  msg.statusCode = 401;\n  msg.headers = { \"Content-Type\": \"application/json\" };\n  msg.payload = { error: \"Spotify is not connected. Visit /spotify/login first.\" };\n  return [null, msg];\n}\n\nconst deviceId = (msg.req && msg.req.query && msg.req.query.device_id) || \"\";\nlet body = msg.payload || {};\nif (typeof body === \"string\") {\n  try { body = JSON.parse(body); } catch (_) { body = {}; }\n}\n\nconst qs = deviceId ? \"?device_id=\" + encodeURIComponent(deviceId) : \"\";\nmsg.method = \"PUT\";\nmsg.url = \"https://api.spotify.com/v1/me/player/play\" + qs;\nmsg.headers = { \"Authorization\": \"Bearer \" + accessToken, \"Content-Type\": \"application/json\" };\nmsg.payload = body;\nreturn [msg, null];",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 880,
    "wires": [["req_spotify_play"], ["res_spotify_play"]]
  },
  {
    "id": "req_spotify_play",
    "type": "http request",
    "z": "sentient_stream_fresh",
    "name": "PUT Spotify play",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 660,
    "y": 880,
    "wires": [["fn_return_play"]]
  },
  {
    "id": "fn_return_play",
    "type": "function",
    "z": "sentient_stream_fresh",
    "name": "Return play result",
    "func": "const ok = msg.statusCode === 204 || (msg.statusCode >= 200 && msg.statusCode < 300);\nconst details = (!ok && msg.payload && msg.payload.error && msg.payload.error.message) ? msg.payload.error.message : null;\nmsg.statusCode = ok ? 204 : msg.statusCode;\nmsg.headers = { \"Content-Type\": \"application/json\" };\nif (!ok) {\n  msg.payload = { error: details ? \"Spotify play failed: \" + details : \"Spotify play failed.\", spotifyStatus: msg.statusCode };\n} else {\n  msg.payload = \"\";\n}\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 900,
    "y": 880,
    "wires": [["res_spotify_play"]]
  },
  {
    "id": "res_spotify_play",
    "type": "http response",
    "z": "sentient_stream_fresh",
    "name": "Play response",
    "statusCode": "",
    "headers": {},
    "x": 1140,
    "y": 880,
    "wires": []
  }
]
